svg {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area.ie {
	fill: #1f77b4;
}
.area.ch {
	fill: #dbdb8d;
}
.area.fx {
	fill: #ff7f0e;
}
.area.sf {
	fill: #c7c7c7;
}
.area.op {
	fill: #d62728;
}
